* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

  :root {
    --_p_clr: #D1FFE5;
    --_s_clr: #050828CC;
    --_t_clr: #0D7E43;
    --_m_clr: #0D7E43;
    --_initial_first_color: #ffffff;
    --_initial_second_color: #000000;
    
  }

@font-face {
  font-family: "logo";
  src: url("/assets/fonts/Attractype Reborn.otf");
}

body {
  background: var(--_initial_first_color);
  color: var(--_s_clr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  gap: 40px;
}

header {
  width: 100%;
  height: 70px;
  padding: 10px;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--_p_clr);
}

main {
  margin-top: 100px;
}

.logo {
  font-size: 1.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: logo;
  color: var(--_t_clr);
  gap: 5px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.version {
  margin-top: 80px;
}

.assets {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.assets button {
  height: 40px;
  width: 40px;
  border: none;
  background: var(--_initial_first_color);
  border-radius: 10px;
}

.sidebar_toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--_initial_first_color);
}

.bar {
  height: 2px;
  width: 25px;
  background: var(--_m_clr);
}

.sidebar {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 999991;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: var(--_p_clr);
  transition: all .5s;
  padding: 15px;
  transform: scale(0);
}

.sidebar a {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid;
  font-size: 2rem;
  text-decoration: none;
  color: var(--_s_clr);
}

.close_sidebar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 3rem;
  background: var(--_initial_first_color);
}

.active {
  transform: scale(1);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.meme_card {
  width: 350px;
  height: max-content;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background: var(--_p_clr);
  border-radius: 15px;
}

.owner {
  width: 100%;
  top: 0;
  z-index: 20;
  border: 1px solid var(--_m_clr);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.owner img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid var(--_m_clr);
  object-fit: cover;
  overflow: auto;
  object-position: center top;
}

.owner_name {
  color: var(--_p_clr);
  font-size: 1.3em;
  padding: 5px;
  border-radius: 10px;
  background: var(--_m_clr);
  font-weight: bolder;
}

.meme_image {
  width: 100%;
}

.memes_assets {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.memes_assets button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background: var(--_initial_first_color);
  border-radius: 5px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background: var(--_p_clr);
  padding: 20px;
}
.c_name {
  font-family: logo;
  color: var(--_t_clr);
}