body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  height: 40px;
  background: var(--_p_clr);
  color: var(--_t_clr);
}
.upload {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

input[type="file"] {
  display: none;
}
label {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background: var(--_p_clr);
  color: var(--_t_clr);
  border-radius: 15px;
}
#desc {
  width: 300px;
  height: 50px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--_t_clr);
  border: 1px solid var(--_t_clr);
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons button {
  height: 40px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--_t_clr);
  color: var(--_p_clr);
}
button{
  cursor: pointer;
}
.modal_box {
  width: 90%;
  height: 50px;
  background: #08A81F;
  position: fixed;
  top: 0;
  border-radius: 10px;
  transform: translateY(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--_p_clr);
}